*{
   padding: 0;
   margin: 0;
   box-sizing: border-box;
   text-align: center;
}
h1{
    font-size: 5rem;
    background-color: blue;
}
h2{
    font-size: 3rem;
    background-color: blueviolet;
}
h3{
    font-size: 2.5rem;
    background-color: brown;
}
